button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; // Отступ между иконкой и текстом
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  padding: 10px 20px;
  font-size: var(--fsz-medium);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  letter-spacing: -0.41px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  border: 0;
  outline: 0;
  margin-bottom: 20px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5; // Полупрозрачность для неактивной кнопки
  }
}

.primary {
  background: var(--color-accent);
  color: #fff;
  margin-top: 20px;

  &:hover:not(:disabled) {
    background: rgba(var(--color-accent), 0.9);
  }

  &:disabled {
    background: rgba(var(--color-accent), 0.5); // Полупрозрачный акцентный цвет
    color: rgba(255, 255, 255, 0.5); // Полупрозрачный белый текст
  }
}

.secondary {
  background: rgb(75, 75, 75);
  color: var(--color-muted);

  &:hover:not(:disabled) {
    background: rgb(60, 60, 60);
  }

  &:disabled {
    background: rgba(75, 75, 75, 0.5); // Полупрозрачный серый фон
    color: rgba(var(--color-muted), 0.5); // Полупрозрачный текст
  }
}