.page {
  flex-direction: row-reverse;
  display: flex;
  gap: 20px;
  &__content {
    padding: 0 20px;
    background-color: var(--mat-sidenav-content-background-color);
    flex-grow: 1;
  }
}

.sidebar {
  min-width: 250px;
  padding: 20px;
  background-color: var(--color-sidebar-bg);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  &__title {
    font-size: var(--fsz-large);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
    color: var(--color-text-primary);
    line-height: 1.5;
  }
}

.region-list {
  &__item {
    cursor: pointer;
    padding: 12px 20px;
    transition: background-color 0.3s ease;
    color: var(--color-text-primary);
    background-color: transparent;
    font-size: var(--fsz-medium);
    line-height: 1.5;

    &:hover {
      background-color: var(--color-hover);
    }

    &--selected {
      background-color: var(--color-accent);
    }
  }
}

.city-card {
  margin: 0;
  background-color: var(--color-card-bg);
  box-shadow: 8px 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;

  &__header {
    background-color: var(--color-accent);
    color: var(--color-text-primary);
    padding: 20px;
    border-radius: 8px 8px 0 0;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.4;
  }

  &__subtitle {
    color: var(--color-text-secondary);
    line-height: 1.5;
  }

  &__content {
    padding: 20px;

    h2 {
      font-size: 1.5rem;
      font-weight: var(--font-weight-bold);
      color: var(--color-accent);
      margin-top: 20px;
      line-height: 1.5;
    }

    ul {
      list-style-type: disc;
      padding-left: 30px;
      margin-top: 10px;
      line-height: 1.6;

      li {
        margin-bottom: 12px;
        font-size: var(--fsz-medium);
      }
    }
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__spinner {
    color: var(--color-accent);
  }
}

.animated-text {
  font-size: var(--fsz-medium);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  margin-bottom: 16px;
}

.image-text {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;

  &__image {
    max-width: 300px;
    height: auto;
    border-radius: 4px;
    flex-shrink: 0;
  }

  &__text {
    font-size: var(--fsz-medium);
    color: var(--color-text-primary);
    font-weight: var(--font-weight-normal);
    line-height: 1.6;
    margin-bottom: 16px;
  }
}
