.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  width: 64px; 
  transition: width 0.3s ease-in-out;

  &.mat-drawer-opened {
    width: 240px; 
    background-color: rgba(var(--color-bg), .4); 
    box-shadow: 8px 0 20px rgba(0, 0, 0, 0.3);
  }
}

.example-sidenav-content {
  padding: 20px;
}

.content {
  padding: 20px;
}
mat-icon {
  color: #fff;
}