.map-container {
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  .close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1000;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: rotate(90deg); // Вращение на 90 градусов при наведении
    }
  
    mat-icon {
      color: #666; // Цвет иконки
    }
  }
  
  mat-dialog-content {
    padding: 16px;
  }
  
  h2 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
  }