<div class="title-select-component">
	<mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>
	<span class="title-select-component__text">Выбрать из списка</span>
	<span *ngIf="selectedItems.length > 0" class="title-select-component__status">Готово</span> 
</div>

<mat-form-field appearance="outline" class="search">
	<mat-icon matPrefix>search</mat-icon>
	<input matInput type="text" placeholder="Поиск..." [(ngModel)]="searchTerm">
</mat-form-field>

<div class="select-component-list">
	<mat-checkbox 
	  *ngFor="let item of filteredItems()" 
	  class="select-component"
	  [checked]="isMultiple ? selectedItems.includes(item) : selectedItem === item" 
	  (change)="onItemSelect(item)">
	  <span class="select-component__text">{{ item.name }}</span>
	</mat-checkbox>
</div>
