@import "reset-css/reset.css";
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import "assets/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html,
body {
  min-height: 100%;
  margin: 0;
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

.select-wrapper {
  display: block;
  animation: swipeIn 0.3s ease-out;
  background: var(--color-bg);

}

@keyframes swipeIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.mat-mdc-dialog-container.mdc-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.material-icons {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.leaflet-container {
  border-radius: 4px;
  margin-top: 16px;
  height: 300px;
  width: 100%;
}

app-population-chart {
  margin-bottom: 24px;
  display: block;
  height: 400px;
}

#populationChart {
  height: 400px;
  width: 100%;
  display: block;
}

.chart-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.label {
  background: rgba(255, 255, 255, 0.3);
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.rotated-label {
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
}

.mat-sidenav-container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 135px);
}

.mat-divider {
  margin: 16px 0 !important;
}

.leaflet-overlay-pane svg {
  -moz-user-select: none;
  -webkit-user-select: none;
}
.custom-checkbox__label {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: var(--fsz-large);
  font-weight: var(--font-weight-normal);
  letter-spacing: -0.4px;
  text-align: left;
  border: 0;
}
.mat-drawer-content {
  height: inherit !important;
}

.toggle-menu {
  button {
    background: transparent;
    color: #fff;
  }
}
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Занимает всю высоту экрана */
}

.loading-spinner__spinner {
  width: 50px;
  height: 50px;
}
.active {
  mat-icon {
    color: var(--color-accent) !important;
  }
}